* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    border-bottom: 3px solid white;
}

header nav ul li a {
    padding: 10px 15px;
}

section {
    padding: 30px;
}
/* Hero */
.hero {
    background-image: url(../images/header.jpeg);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* background-attachment: fixed; */
    position: 80%;
    background-size: 1300px; 
    height: 500px;
    width: 100%;
}

.hero div {
    background-color: pink;
    padding: 20px;
}

.section-title {
    width: 25%;
    text-align: right;
    padding-left: 30px;
    /* border-right: 3px solid black; */
}

.content {
    padding-left: 30px;
    border-left: 3px solid black;
}

.content.contact-list {
    border-left: 3px solid black;
}

/* About Me */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.section-title h2 {
    font-size: 55px;
    padding-left: 80px;
}

.bio {
    width: 70%;
}
/* About Me END */

/* Work */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-grid-wrapper {
    width: 70%;
    height: 500px;
}

.work-grid-container {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
}

.work-grid-item {
    padding: 15px 0;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.work-grid-item.surf {
    grid-column: 1 / span 6;
    grid-row: 1 / span 4;
}

.work-grid-item.basic {
    grid-column: span 3;
    grid-row: span 2;
}

.work-grid-item div {
    background-color: pink;
    padding: 5px;
}

.work-grid-item.run {
    background-image: url(../images/run\ buddy.png);
}

.text h4 {
    font-size: 13px;
}
/* Work END */

/* Contact Me */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.contact-list {
    width: 70%;
    margin: 50px 0;
    padding: 0 0 30px 30px;
}

.contact-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.contact-list ul a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    font-size: 20px;
}
/* Contact Me END */
